@import url(../../build-w3c/styles/_custom_properties.css);
@import url(../../build-w3c/styles/_custom_properties_dark.css);
@import url(../../build-w3c/styles/_custom_properties_compact.css);

fieldset {
  margin: 8px;
}
body {
  background-color: var(--sky-background-color-page-default);
  color: var(--sky-text-color-default);
  margin: 0;
  padding: 16px;
  height: 100%;
}
body #mode {
  background-color: var(--sky-background-color-page-default);
  color: var(--sky-text-color-default);
}
.sky-btn {
  border-width: var(--sky-btn-border-width);
  border-radius: var(--sky-btn-border-radius);
  font-size: var(--sky-btn-font-size);
  padding: var(--sky-padding-button-standard);
}
.sky-btn-default {
  background-color: var(--sky-btn-default-background-color);
  border-color: var(--sky-btn-default-border-color);
  color: var(--sky-btn-default-color);
}
.sky-btn-primary {
  background-color: var(--sky-background-color-primary-dark);
  color: var(--sky-btn-primary-color);
}
