<section class="box-grid">
  <sky-box headingText="Page Surface">
    <sky-box-content>
      <label for="page-input">Text input</label>
      <div class="sky-input-box">
        <input id="page-input" type="text" placeholder="Page surface input" />
      </div>
    </sky-box-content>
  </sky-box>

  <sky-box headingText="Container Base">
    <sky-box-content>
      <label for="container-input">Text input</label>
      <div class="sky-input-box">
        <input id="container-input" type="text" placeholder="Container base input" />
      </div>
    </sky-box-content>
  </sky-box>

  <sky-box headingText="Container Dimmed">
    <sky-box-content>
      <label for="dimmed-input">Text input</label>
      <div class="sky-input-box sky-theme-background-container-dimmed" data-sky-surface="container-dimmed">
        <input id="dimmed-input" type="text" placeholder="Container dimmed input" />
      </div>
    </sky-box-content>
  </sky-box>
</section>
