.sky-theme-modern {
  --sky-bb-size-fluid-600: 6rem;
  --sky-bb-size-fluid-500: 5rem;
  --sky-bb-size-fluid-400: 4rem;
  --sky-bb-size-fluid-300: 3rem;
  --sky-bb-size-fluid-250: 2.5rem;
  --sky-bb-size-fluid-200: 2rem;
  --sky-bb-size-fluid-150: 1.5rem;
  --sky-bb-size-fluid-125: 1.25rem;
  --sky-bb-size-fluid-100: 1rem;
  --sky-bb-size-fluid-75: 0.75rem;
  --sky-bb-size-fluid-50: 0.5rem;
  --sky-bb-size-fluid-25: 0.25rem;
  --sky-bb-size-fluid-12: 0.125rem;
  --sky-bb-size-1000: 36px;
  --sky-bb-size-900: 24px;
  --sky-bb-size-800: 16px;
  --sky-bb-size-700: 12px;
  --sky-bb-size-600: 8px;
  --sky-bb-size-500: 6px;
  --sky-bb-size-400: 4px;
  --sky-bb-size-300: 3px;
  --sky-bb-size-200: 2px;
  --sky-bb-size-100: 1px;
  --sky-bb-shadow-gray-24-3-offset-y: 24px;
  --sky-bb-shadow-gray-24-3-offset-x: 0rem;
  --sky-bb-shadow-gray-24-3-type: dropShadow;
  --sky-bb-shadow-gray-24-3-color: rgba(0, 0, 0, 0.14);
  --sky-bb-shadow-gray-24-3-spread: 3px;
  --sky-bb-shadow-gray-24-3-blur: 38px;
  --sky-bb-shadow-gray-24-2-offset-y: 9px;
  --sky-bb-shadow-gray-24-2-offset-x: 0rem;
  --sky-bb-shadow-gray-24-2-type: dropShadow;
  --sky-bb-shadow-gray-24-2-color: rgba(0, 0, 0, 0.12);
  --sky-bb-shadow-gray-24-2-spread: 8px;
  --sky-bb-shadow-gray-24-2-blur: 46px;
  --sky-bb-shadow-gray-24-1-offset-y: 11px;
  --sky-bb-shadow-gray-24-1-offset-x: 0rem;
  --sky-bb-shadow-gray-24-1-type: dropShadow;
  --sky-bb-shadow-gray-24-1-color: rgba(0, 0, 0, 0.2);
  --sky-bb-shadow-gray-24-1-spread: -7px;
  --sky-bb-shadow-gray-24-1-blur: 15px;
  --sky-bb-shadow-gray-16-3-offset-y: 16px;
  --sky-bb-shadow-gray-16-3-offset-x: 0rem;
  --sky-bb-shadow-gray-16-3-type: dropShadow;
  --sky-bb-shadow-gray-16-3-color: rgba(0, 0, 0, 0.14);
  --sky-bb-shadow-gray-16-3-spread: 2px;
  --sky-bb-shadow-gray-16-3-blur: 24px;
  --sky-bb-shadow-gray-16-2-offset-y: 6px;
  --sky-bb-shadow-gray-16-2-offset-x: 0rem;
  --sky-bb-shadow-gray-16-2-type: dropShadow;
  --sky-bb-shadow-gray-16-2-color: rgba(0, 0, 0, 0.12);
  --sky-bb-shadow-gray-16-2-spread: 5px;
  --sky-bb-shadow-gray-16-2-blur: 30px;
  --sky-bb-shadow-gray-16-1-offset-y: 8px;
  --sky-bb-shadow-gray-16-1-offset-x: 0rem;
  --sky-bb-shadow-gray-16-1-type: dropShadow;
  --sky-bb-shadow-gray-16-1-color: rgba(0, 0, 0, 0.2);
  --sky-bb-shadow-gray-16-1-spread: -5px;
  --sky-bb-shadow-gray-16-1-blur: 10px;
  --sky-bb-shadow-gray-8-3-offset-y: 8px;
  --sky-bb-shadow-gray-8-3-offset-x: 0rem;
  --sky-bb-shadow-gray-8-3-type: dropShadow;
  --sky-bb-shadow-gray-8-3-color: rgba(0, 0, 0, 0.14);
  --sky-bb-shadow-gray-8-3-spread: 1px;
  --sky-bb-shadow-gray-8-3-blur: 10px;
  --sky-bb-shadow-gray-8-2-offset-y: 3px;
  --sky-bb-shadow-gray-8-2-offset-x: 0rem;
  --sky-bb-shadow-gray-8-2-type: dropShadow;
  --sky-bb-shadow-gray-8-2-color: rgba(0, 0, 0, 0.12);
  --sky-bb-shadow-gray-8-2-spread: 2px;
  --sky-bb-shadow-gray-8-2-blur: 14px;
  --sky-bb-shadow-gray-8-1-offset-y: 5px;
  --sky-bb-shadow-gray-8-1-offset-x: 0rem;
  --sky-bb-shadow-gray-8-1-type: dropShadow;
  --sky-bb-shadow-gray-8-1-color: rgba(0, 0, 0, 0.2);
  --sky-bb-shadow-gray-8-1-spread: -3px;
  --sky-bb-shadow-gray-8-1-blur: 5px;
  --sky-bb-shadow-gray-4-3-offset-y: 4px;
  --sky-bb-shadow-gray-4-3-offset-x: 0rem;
  --sky-bb-shadow-gray-4-3-type: dropShadow;
  --sky-bb-shadow-gray-4-3-color: rgba(0, 0, 0, 0.14);
  --sky-bb-shadow-gray-4-3-spread: 0rem;
  --sky-bb-shadow-gray-4-3-blur: 5px;
  --sky-bb-shadow-gray-4-2-offset-y: 1px;
  --sky-bb-shadow-gray-4-2-offset-x: 0rem;
  --sky-bb-shadow-gray-4-2-type: dropShadow;
  --sky-bb-shadow-gray-4-2-color: rgba(0, 0, 0, 0.12);
  --sky-bb-shadow-gray-4-2-spread: 0rem;
  --sky-bb-shadow-gray-4-2-blur: 10px;
  --sky-bb-shadow-gray-4-1-offset-y: 2px;
  --sky-bb-shadow-gray-4-1-offset-x: 0rem;
  --sky-bb-shadow-gray-4-1-type: dropShadow;
  --sky-bb-shadow-gray-4-1-color: rgba(0, 0, 0, 0.2);
  --sky-bb-shadow-gray-4-1-spread: -1px;
  --sky-bb-shadow-gray-4-1-blur: 4px;
  --sky-bb-shadow-gray-2-3-offset-y: 3px;
  --sky-bb-shadow-gray-2-3-offset-x: 0rem;
  --sky-bb-shadow-gray-2-3-type: dropShadow;
  --sky-bb-shadow-gray-2-3-color: rgba(0, 0, 0, 0.14);
  --sky-bb-shadow-gray-2-3-spread: 0rem;
  --sky-bb-shadow-gray-2-3-blur: 4px;
  --sky-bb-shadow-gray-2-2-offset-y: 3px;
  --sky-bb-shadow-gray-2-2-offset-x: 0rem;
  --sky-bb-shadow-gray-2-2-type: dropShadow;
  --sky-bb-shadow-gray-2-2-color: rgba(0, 0, 0, 0.12);
  --sky-bb-shadow-gray-2-2-spread: -2px;
  --sky-bb-shadow-gray-2-2-blur: 3px;
  --sky-bb-shadow-gray-2-1-offset-y: 1px;
  --sky-bb-shadow-gray-2-1-offset-x: 0rem;
  --sky-bb-shadow-gray-2-1-type: dropShadow;
  --sky-bb-shadow-gray-2-1-color: rgba(0, 0, 0, 0.2);
  --sky-bb-shadow-gray-2-1-spread: 0rem;
  --sky-bb-shadow-gray-2-1-blur: 8px;
  --sky-bb-shadow-gray-1-3-offset-y: 1px;
  --sky-bb-shadow-gray-1-3-offset-x: 0rem;
  --sky-bb-shadow-gray-1-3-type: dropShadow;
  --sky-bb-shadow-gray-1-3-color: rgba(0, 0, 0, 0.14);
  --sky-bb-shadow-gray-1-3-spread: 0rem;
  --sky-bb-shadow-gray-1-3-blur: 1px;
  --sky-bb-shadow-gray-1-2-offset-y: 2px;
  --sky-bb-shadow-gray-1-2-offset-x: 0rem;
  --sky-bb-shadow-gray-1-2-type: dropShadow;
  --sky-bb-shadow-gray-1-2-color: rgba(0, 0, 0, 0.12);
  --sky-bb-shadow-gray-1-2-spread: -1px;
  --sky-bb-shadow-gray-1-2-blur: 1px;
  --sky-bb-shadow-gray-1-1-offset-y: 1px;
  --sky-bb-shadow-gray-1-1-offset-x: 0rem;
  --sky-bb-shadow-gray-1-1-type: dropShadow;
  --sky-bb-shadow-gray-1-1-color: rgba(0, 0, 0, 0.2);
  --sky-bb-shadow-gray-1-1-spread: 0rem;
  --sky-bb-shadow-gray-1-1-blur: 3px;
  --sky-bb-shadow-gray-0-offset-y: 0rem;
  --sky-bb-shadow-gray-0-offset-x: 0rem;
  --sky-bb-shadow-gray-0-type: dropShadow;
  --sky-bb-shadow-gray-0-color: #000000;
  --sky-bb-shadow-gray-0-spread: 0rem;
  --sky-bb-shadow-gray-0-blur: 0rem;
  --sky-bb-color-brand-soft-purple: #c898fa;
  --sky-bb-color-brand-jurple: #7a04dd;
  --sky-bb-color-brand-dark-green: #04805b;
  --sky-bb-color-brand-violet-tint: #f9f2fe;
  --sky-bb-color-brand-impact-green-tint: #ecfcf4;
  --sky-bb-color-brand-charcoal-tint: #eeeeef;
  --sky-bb-color-brand-charcoal: #252b33;
  --sky-bb-color-brand-flint: #51555c;
  --sky-bb-color-brand-violet: #b061f2;
  --sky-bb-color-brand-sky-tint: #ebfbff;
  --sky-bb-color-brand-classic-blue: #006880;
  --sky-bb-color-brand-trusted-blue: #004054;
  --sky-bb-color-brand-impact-green: #0cd973;
  --sky-bb-color-brand-sky-blue: #00ccff;
  --sky-bb-color-yellow-1000: #32230a;
  --sky-bb-color-yellow-900: #644615;
  --sky-bb-color-yellow-800: #976a1f;
  --sky-bb-color-yellow-700: #c98d2a;
  --sky-bb-color-yellow-600: #fbb034;
  --sky-bb-color-yellow-500: #fcc05d;
  --sky-bb-color-yellow-400: #fdd085;
  --sky-bb-color-yellow-300: #fddfae;
  --sky-bb-color-yellow-200: #feefd6;
  --sky-bb-color-yellow-100: #fff7eb;
  --sky-bb-color-red-1000: #2b0c0c;
  --sky-bb-color-red-900: #571718;
  --sky-bb-color-red-800: #822325;
  --sky-bb-color-red-700: #ae2e31;
  --sky-bb-color-red-600: #d93a3d;
  --sky-bb-color-red-500: #e16164;
  --sky-bb-color-red-400: #e8898b;
  --sky-bb-color-red-300: #f0b0b1;
  --sky-bb-color-red-200: #f7d8d8;
  --sky-bb-color-red-100: #fbebec;
  --sky-bb-color-green-1000: #022b17;
  --sky-bb-color-green-900: #05572e;
  --sky-bb-color-green-800: #078245;
  --sky-bb-color-green-700: #0aae5c;
  --sky-bb-color-green-600: #0cd973;
  --sky-bb-color-green-500: #3de18f;
  --sky-bb-color-green-400: #6de8ab;
  --sky-bb-color-green-300: #9ef0c7;
  --sky-bb-color-green-200: #cef7e3;
  --sky-bb-color-green-100: #e7fbf1;
  --sky-bb-color-blue-1000: #04152b;
  --sky-bb-color-blue-900: #092957;
  --sky-bb-color-blue-800: #0d3e82;
  --sky-bb-color-blue-700: #1252ae;
  --sky-bb-color-blue-600: #1667d9;
  --sky-bb-color-blue-500: #4585e1;
  --sky-bb-color-blue-400: #73a4e8;
  --sky-bb-color-blue-300: #a2c2f0;
  --sky-bb-color-blue-200: #d0e1f7;
  --sky-bb-color-blue-100: #e8f0fb;
  --sky-bb-color-black: #000000;
  --sky-bb-color-white: #ffffff;
  --sky-bb-color-gray-1200: #0f1114;
  --sky-bb-color-gray-1100: #161a1f;
  --sky-bb-color-gray-1000: #1e2229;
  --sky-bb-color-gray-900: #252b33;
  --sky-bb-color-gray-800: #3b4047;
  --sky-bb-color-gray-700: #51555c;
  --sky-bb-color-gray-600: #666b70;
  --sky-bb-color-gray-500: #7c8085;
  --sky-bb-color-gray-400: #929599;
  --sky-bb-color-gray-300: #a8aaad;
  --sky-bb-color-gray-200: #bebfc2;
  --sky-bb-color-gray-100: #d3d5d6;
  --sky-bb-color-gray-50: #e9eaeb;
  --sky-bb-color-gray-25: #f9f9f9;
  --sky-bb-space-11: 64px;
  --sky-bb-space-10: 48px;
  --sky-bb-space-9: 36px;
  --sky-bb-space-8: 24px;
  --sky-bb-space-7: 16px;
  --sky-bb-space-6: 12px;
  --sky-bb-space-5: 8px;
  --sky-bb-space-4: 6px;
  --sky-bb-space-3: 4px;
  --sky-bb-space-2: 2px;
  --sky-bb-space-1: 1px;
  --sky-bb-space-0: 0rem;
  --sky-bb-border-radius-circle: 50%;
  --sky-bb-border-radius-pill: 999rem;
  --sky-bb-border-radius-050: 0.5rem;
  --sky-bb-border-radius-025: 0.25rem;
  --sky-bb-border-radius-none: 0rem;
  --sky-bb-line-height-1200: 4.75rem;
  --sky-bb-line-height-1100: 4.25rem;
  --sky-bb-line-height-1000: 3.375rem;
  --sky-bb-line-height-900: 3rem;
  --sky-bb-line-height-800: 3rem;
  --sky-bb-line-height-700: 2.625rem;
  --sky-bb-line-height-600: 2.25rem;
  --sky-bb-line-height-500: 2rem;
  --sky-bb-line-height-400: 1.75rem;
  --sky-bb-line-height-300: 1.5rem;
  --sky-bb-line-height-200: 1.25rem;
  --sky-bb-line-height-100: 1rem;
  --sky-bb-font-src-sans-italic: url("url(https://sky.blackbaudcdn.net/static/skyux-fonts/2.0.0/assets/BLKBSans-Italic.woff) format(\"woff\")");
  --sky-bb-font-src-sans-regular: url("url(https://sky.blackbaudcdn.net/static/skyux-fonts/2.0.0/assets/BLKBSans-Regular.woff) format(\"woff\")");
  --sky-bb-font-style-normal-style: normal;
  --sky-bb-font-style-normal-weight: 400;
  --sky-bb-font-style-semibold-italic-style: italic;
  --sky-bb-font-style-semibold-italic-weight: 600;
  --sky-bb-font-style-light-italic-style: italic;
  --sky-bb-font-style-light-italic-weight: 300;
  --sky-bb-font-style-light: 300;
  --sky-bb-font-style-semibold: 600;
  --sky-bb-font-style-italic-style: italic;
  --sky-bb-font-style-italic-weight: 400;
  --sky-bb-font-style-regular: 400;
  --sky-bb-font-weight-bold: 700;
  --sky-bb-font-weight-semibold: 600;
  --sky-bb-font-weight-regular: 400;
  --sky-bb-font-weight-light: 300;
  --sky-bb-font-family-sans: var(--sky-bb-font-name), Helvetica Neue, Arial, sans-serif;
  --sky-bb-font-family-monospaced: Menlo, Monaco, Consolas, 'Courier New', monospace;
  --sky-bb-font-name: 'BLKB Sans';
  --sky-bb-font-size-1200: 3.75rem;
  --sky-bb-font-size-1100: 3.375rem;
  --sky-bb-font-size-1000: 3rem;
  --sky-bb-font-size-900: 2.625rem;
  --sky-bb-font-size-800: 2.25rem;
  --sky-bb-font-size-700: 2rem;
  --sky-bb-font-size-600: 1.75rem;
  --sky-bb-font-size-500: 1.5rem;
  --sky-bb-font-size-400: 1.25rem;
  --sky-bb-font-size-300: 1rem;
  --sky-bb-font-size-200: 0.875rem;
  --sky-bb-font-size-100: 0.75rem;
}
