.sky-theme-modern {
  --sky-elevation-overlay-400-3-offset-y: 24px;
  --sky-elevation-overlay-400-3-offset-x: 0rem;
  --sky-elevation-overlay-400-3-type: dropShadow;
  --sky-elevation-overlay-400-3-color: rgba(0, 0, 0, 0.14);
  --sky-elevation-overlay-400-3-spread: 3px;
  --sky-elevation-overlay-400-3-blur: 38px;
  --sky-elevation-overlay-400-2-offset-y: 9px;
  --sky-elevation-overlay-400-2-offset-x: 0rem;
  --sky-elevation-overlay-400-2-type: dropShadow;
  --sky-elevation-overlay-400-2-color: rgba(0, 0, 0, 0.12);
  --sky-elevation-overlay-400-2-spread: 8px;
  --sky-elevation-overlay-400-2-blur: 46px;
  --sky-elevation-overlay-400-1-offset-y: 11px;
  --sky-elevation-overlay-400-1-offset-x: 0rem;
  --sky-elevation-overlay-400-1-type: dropShadow;
  --sky-elevation-overlay-400-1-color: rgba(0, 0, 0, 0.2);
  --sky-elevation-overlay-400-1-spread: -7px;
  --sky-elevation-overlay-400-1-blur: 15px;
  --sky-elevation-overlay-300-3-offset-y: 16px;
  --sky-elevation-overlay-300-3-offset-x: 0rem;
  --sky-elevation-overlay-300-3-type: dropShadow;
  --sky-elevation-overlay-300-3-color: rgba(0, 0, 0, 0.14);
  --sky-elevation-overlay-300-3-spread: 2px;
  --sky-elevation-overlay-300-3-blur: 24px;
  --sky-elevation-overlay-300-2-offset-y: 6px;
  --sky-elevation-overlay-300-2-offset-x: 0rem;
  --sky-elevation-overlay-300-2-type: dropShadow;
  --sky-elevation-overlay-300-2-color: rgba(0, 0, 0, 0.12);
  --sky-elevation-overlay-300-2-spread: 5px;
  --sky-elevation-overlay-300-2-blur: 30px;
  --sky-elevation-overlay-300-1-offset-y: 8px;
  --sky-elevation-overlay-300-1-offset-x: 0rem;
  --sky-elevation-overlay-300-1-type: dropShadow;
  --sky-elevation-overlay-300-1-color: rgba(0, 0, 0, 0.2);
  --sky-elevation-overlay-300-1-spread: -5px;
  --sky-elevation-overlay-300-1-blur: 10px;
  --sky-elevation-overlay-200-3-offset-y: 8px;
  --sky-elevation-overlay-200-3-offset-x: 0rem;
  --sky-elevation-overlay-200-3-type: dropShadow;
  --sky-elevation-overlay-200-3-color: rgba(0, 0, 0, 0.14);
  --sky-elevation-overlay-200-3-spread: 1px;
  --sky-elevation-overlay-200-3-blur: 10px;
  --sky-elevation-overlay-200-2-offset-y: 3px;
  --sky-elevation-overlay-200-2-offset-x: 0rem;
  --sky-elevation-overlay-200-2-type: dropShadow;
  --sky-elevation-overlay-200-2-color: rgba(0, 0, 0, 0.12);
  --sky-elevation-overlay-200-2-spread: 2px;
  --sky-elevation-overlay-200-2-blur: 14px;
  --sky-elevation-overlay-200-1-offset-y: 5px;
  --sky-elevation-overlay-200-1-offset-x: 0rem;
  --sky-elevation-overlay-200-1-type: dropShadow;
  --sky-elevation-overlay-200-1-color: rgba(0, 0, 0, 0.2);
  --sky-elevation-overlay-200-1-spread: -3px;
  --sky-elevation-overlay-200-1-blur: 5px;
  --sky-elevation-overlay-100-3-offset-y: 4px;
  --sky-elevation-overlay-100-3-offset-x: 0rem;
  --sky-elevation-overlay-100-3-type: dropShadow;
  --sky-elevation-overlay-100-3-color: rgba(0, 0, 0, 0.14);
  --sky-elevation-overlay-100-3-spread: 0rem;
  --sky-elevation-overlay-100-3-blur: 5px;
  --sky-elevation-overlay-100-2-offset-y: 1px;
  --sky-elevation-overlay-100-2-offset-x: 0rem;
  --sky-elevation-overlay-100-2-type: dropShadow;
  --sky-elevation-overlay-100-2-color: rgba(0, 0, 0, 0.12);
  --sky-elevation-overlay-100-2-spread: 0rem;
  --sky-elevation-overlay-100-2-blur: 10px;
  --sky-elevation-overlay-100-1-offset-y: 2px;
  --sky-elevation-overlay-100-1-offset-x: 0rem;
  --sky-elevation-overlay-100-1-type: dropShadow;
  --sky-elevation-overlay-100-1-color: rgba(0, 0, 0, 0.2);
  --sky-elevation-overlay-100-1-spread: -1px;
  --sky-elevation-overlay-100-1-blur: 4px;
  --sky-elevation-raised-3-offset-y: 1px;
  --sky-elevation-raised-3-offset-x: 0rem;
  --sky-elevation-raised-3-type: dropShadow;
  --sky-elevation-raised-3-color: rgba(0, 0, 0, 0.14);
  --sky-elevation-raised-3-spread: 0rem;
  --sky-elevation-raised-3-blur: 1px;
  --sky-elevation-raised-2-offset-y: 2px;
  --sky-elevation-raised-2-offset-x: 0rem;
  --sky-elevation-raised-2-type: dropShadow;
  --sky-elevation-raised-2-color: rgba(0, 0, 0, 0.12);
  --sky-elevation-raised-2-spread: -1px;
  --sky-elevation-raised-2-blur: 1px;
  --sky-elevation-raised-1-offset-y: 1px;
  --sky-elevation-raised-1-offset-x: 0rem;
  --sky-elevation-raised-1-type: dropShadow;
  --sky-elevation-raised-1-color: rgba(0, 0, 0, 0.2);
  --sky-elevation-raised-1-spread: 0rem;
  --sky-elevation-raised-1-blur: 3px;
  --sky-elevation-focus-3-offset-y: 3px;
  --sky-elevation-focus-3-offset-x: 0rem;
  --sky-elevation-focus-3-type: dropShadow;
  --sky-elevation-focus-3-color: rgba(0, 0, 0, 0.14);
  --sky-elevation-focus-3-spread: 0rem;
  --sky-elevation-focus-3-blur: 4px;
  --sky-elevation-focus-2-offset-y: 3px;
  --sky-elevation-focus-2-offset-x: 0rem;
  --sky-elevation-focus-2-type: dropShadow;
  --sky-elevation-focus-2-color: rgba(0, 0, 0, 0.12);
  --sky-elevation-focus-2-spread: -2px;
  --sky-elevation-focus-2-blur: 3px;
  --sky-elevation-focus-1-offset-y: 1px;
  --sky-elevation-focus-1-offset-x: 0rem;
  --sky-elevation-focus-1-type: dropShadow;
  --sky-elevation-focus-1-color: rgba(0, 0, 0, 0.2);
  --sky-elevation-focus-1-spread: 0rem;
  --sky-elevation-focus-1-blur: 8px;
  --sky-elevation-overflow-3-offset-y: 3px;
  --sky-elevation-overflow-3-offset-x: 0rem;
  --sky-elevation-overflow-3-type: dropShadow;
  --sky-elevation-overflow-3-color: rgba(0, 0, 0, 0.14);
  --sky-elevation-overflow-3-spread: 0rem;
  --sky-elevation-overflow-3-blur: 4px;
  --sky-elevation-overflow-2-offset-y: 3px;
  --sky-elevation-overflow-2-offset-x: 0rem;
  --sky-elevation-overflow-2-type: dropShadow;
  --sky-elevation-overflow-2-color: rgba(0, 0, 0, 0.12);
  --sky-elevation-overflow-2-spread: -2px;
  --sky-elevation-overflow-2-blur: 3px;
  --sky-elevation-overflow-1-offset-y: 1px;
  --sky-elevation-overflow-1-offset-x: 0rem;
  --sky-elevation-overflow-1-type: dropShadow;
  --sky-elevation-overflow-1-color: rgba(0, 0, 0, 0.2);
  --sky-elevation-overflow-1-spread: 0rem;
  --sky-elevation-overflow-1-blur: 8px;
  --sky-elevation-none-offset-y: 0rem;
  --sky-elevation-none-offset-x: 0rem;
  --sky-elevation-none-type: dropShadow;
  --sky-elevation-none-color: #000000;
  --sky-elevation-none-spread: 0rem;
  --sky-elevation-none-blur: 0rem;
  --sky-color-border-input-error: var(--sky-bb-color-red-600);
  --sky-color-border-input-focus: var(--sky-bb-color-blue-600);
  --sky-color-border-input-active: var(--sky-bb-color-blue-600);
  --sky-color-border-input-hover: var(--sky-bb-color-blue-600);
  --sky-color-border-input-base: var(--sky-bb-color-gray-100);
  --sky-color-border-action-disabled: var(--sky-bb-color-gray-100);
  --sky-color-border-action-tertiary-disabled: var(--sky-bb-color-gray-100);
  --sky-color-border-action-tertiary-focus: var(--sky-bb-color-blue-600);
  --sky-color-border-action-tertiary-active: var(--sky-bb-color-blue-600);
  --sky-color-border-action-tertiary-hover: var(--sky-bb-color-blue-600);
  --sky-color-border-action-tertiary-base: rgba(0, 0, 0, 0);
  --sky-color-border-action-secondary-disabled: var(--sky-bb-color-gray-100);
  --sky-color-border-action-secondary-focus: var(--sky-bb-color-blue-600);
  --sky-color-border-action-secondary-active: var(--sky-bb-color-blue-600);
  --sky-color-border-action-secondary-hover: var(--sky-bb-color-blue-600);
  --sky-color-border-action-secondary-base: rgba(0, 0, 0, 0);
  --sky-color-border-action-primary-disabled: var(--sky-bb-color-gray-100);
  --sky-color-border-action-primary-focus: var(--sky-bb-color-blue-600);
  --sky-color-border-action-primary-active: var(--sky-bb-color-blue-600);
  --sky-color-border-action-primary-hover: var(--sky-bb-color-blue-600);
  --sky-color-border-action-primary-base: var(--sky-bb-color-blue-600);
  --sky-color-border-warning: var(--sky-bb-color-yellow-600);
  --sky-color-border-success: var(--sky-bb-color-green-600);
  --sky-color-border-info: var(--sky-bb-color-blue-600);
  --sky-color-border-danger: var(--sky-bb-color-red-600);
  --sky-color-border-neutral-heavy: var(--sky-bb-color-gray-500);
  --sky-color-border-neutral-soft: var(--sky-bb-color-gray-100);
  --sky-color-border-selected: var(--sky-bb-color-blue-600);
  --sky-color-icon-action: var(--sky-bb-color-blue-600);
  --sky-color-icon-inverse: var(--sky-color-text-inverse);
  --sky-color-icon-warning: var(--sky-bb-color-yellow-600);
  --sky-color-icon-success: var(--sky-bb-color-green-600);
  --sky-color-icon-info: var(--sky-bb-color-blue-600);
  --sky-color-icon-danger: var(--sky-bb-color-red-600);
  --sky-color-icon-deemphasized: var(--sky-color-text-deemphasized);
  --sky-color-icon-default: var(--sky-color-text-default);
  --sky-color-background-input-selected: var(--sky-bb-color-blue-600);
  --sky-color-background-input-disabled: var(--sky-bb-color-gray-50);
  --sky-color-background-input-base: rgba(0, 0, 0, 0);
  --sky-color-background-action-disabled: var(--sky-bb-color-gray-50);
  --sky-color-background-action-tertiary-base: rgba(0, 0, 0, 0);
  --sky-color-background-action-secondary-base: rgba(0, 0, 0, 0);
  --sky-color-background-action-primary-base: var(--sky-bb-color-blue-600);
  --sky-color-background-action-danger-base: var(--sky-bb-color-red-600);
  --sky-color-background-container-warning: var(--sky-bb-color-yellow-300);
  --sky-color-background-container-success: var(--sky-bb-color-green-300);
  --sky-color-background-container-info: var(--sky-bb-color-blue-300);
  --sky-color-background-container-danger: var(--sky-bb-color-red-300);
  --sky-color-background-container-promo: var(--sky-bb-color-brand-sky-tint);
  --sky-color-background-container-menu: var(--sky-bb-color-white);
  --sky-color-background-container-base: var(--sky-bb-color-white);
  --sky-color-background-field-disabled: var(--sky-bb-color-gray-50);
  --sky-color-background-field-base: var(--sky-bb-color-white);
  --sky-color-background-page: var(--sky-bb-color-gray-25);
  --sky-color-text-heading: var(--sky-bb-color-blue-800);
  --sky-color-text-inverse: var(--sky-bb-color-white);
  --sky-color-text-danger: var(--sky-bb-color-red-700);
  --sky-color-text-action: var(--sky-bb-color-blue-600);
  --sky-color-text-deemphasized: var(--sky-bb-color-gray-600);
  --sky-color-text-default: var(--sky-bb-color-gray-900);
}
