.sky-theme-modern {
  --sky-border-width-divider: var(--sky-bb-size-100);
  --sky-border-width-interactive-selected: var(--sky-bb-size-100);
  --sky-border-width-interactive-focus: var(--sky-bb-size-200);
  --sky-border-width-interactive-active: var(--sky-bb-size-200);
  --sky-border-width-interactive-hover: var(--sky-bb-size-100);
  --sky-border-width-interactive-base: var(--sky-bb-size-100);
  --sky-border-width-accent: var(--sky-bb-size-500);
  --sky-border-radius-m: var(--sky-bb-size-fluid-50);
  --sky-border-radius-s: var(--sky-bb-size-fluid-25);
  --sky-font-body-style-m: var(--sky-bb-font-style-regular);
  --sky-font-heading-style-2: var(--sky-bb-font-style-regular);
  --sky-font-heading-style-1: var(--sky-bb-font-style-regular);
  --sky-font-size-body-m: var(--sky-bb-font-size-200);
  --sky-font-size-heading-2: var(--sky-bb-font-size-400);
  --sky-font-size-heading-1: var(--sky-bb-font-size-500);
  --sky-text-font-family: var(--sky-bb-font-name);
  --sky-type-data-label-line-height: var(--sky-bb-line-height-100);
  --sky-type-data-label-font-size: var(--sky-bb-font-size-100);
  --sky-type-data-label-font-weight: var(--sky-bb-font-style-regular);
  --sky-type-data-label-font-family: var(--sky-bb-font-family-sans);
  --sky-type-metric-l-line-height: var(--sky-bb-line-height-800);
  --sky-type-metric-l-font-size: var(--sky-bb-font-size-800);
  --sky-type-metric-l-font-weight: var(--sky-bb-font-style-regular);
  --sky-type-metric-l-font-family: var(--sky-bb-font-family-sans);
  --sky-type-metric-m-line-height: var(--sky-bb-line-height-400);
  --sky-type-metric-m-font-size: var(--sky-bb-font-size-400);
  --sky-type-metric-m-font-weight: var(--sky-bb-font-style-regular);
  --sky-type-metric-m-font-family: var(--sky-bb-font-family-sans);
  --sky-type-metric-s-line-height: var(--sky-bb-line-height-200);
  --sky-type-metric-s-font-size: var(--sky-bb-font-size-200);
  --sky-type-metric-s-font-weight: var(--sky-bb-font-style-semibold);
  --sky-type-metric-s-font-family: var(--sky-bb-font-family-sans);
  --sky-type-input-text-line-height: var(--sky-bb-line-height-200);
  --sky-type-input-text-font-size: var(--sky-bb-font-size-200);
  --sky-type-input-text-font-weight: var(--sky-bb-font-style-regular);
  --sky-type-input-text-font-family: var(--sky-bb-font-family-sans);
  --sky-type-input-label-line-height: var(--sky-bb-line-height-100);
  --sky-type-input-label-font-size: var(--sky-bb-font-size-100);
  --sky-type-input-label-font-weight: var(--sky-bb-font-style-regular);
  --sky-type-input-label-font-family: var(--sky-bb-font-family-sans);
  --sky-type-code-m-line-height: var(--sky-bb-line-height-200);
  --sky-type-code-m-font-size: var(--sky-bb-font-size-200);
  --sky-type-code-m-font-weight: var(--sky-bb-font-style-regular);
  --sky-type-code-m-font-family: var(--sky-bb-font-family-monospaced);
  --sky-type-body-m-font-family: var(--sky-text-font-family);
  --sky-type-body-m-line-height: var(--sky-bb-line-height-200);
  --sky-type-body-m-font-size: var(--sky-font-size-body-m);
  --sky-type-body-m-font-weight: var(--sky-font-body-style-m);
  --sky-type-hint-font-style: italic;
  --sky-type-hint-line-height: var(--sky-bb-line-height-100);
  --sky-type-hint-font-size: var(--sky-bb-font-size-100);
  --sky-type-hint-font-weight: 400;
  --sky-type-hint-font-family: var(--sky-bb-font-family-sans);
  --sky-type-heading-5-line-height: var(--sky-bb-line-height-200);
  --sky-type-heading-5-font-size: var(--sky-bb-font-size-200);
  --sky-type-heading-5-font-weight: var(--sky-bb-font-style-semibold);
  --sky-type-heading-5-font-family: var(--sky-bb-font-family-sans);
  --sky-type-heading-4-line-height: var(--sky-bb-line-height-200);
  --sky-type-heading-4-font-size: var(--sky-bb-font-size-200);
  --sky-type-heading-4-font-weight: var(--sky-bb-font-style-semibold);
  --sky-type-heading-4-font-family: var(--sky-bb-font-family-sans);
  --sky-type-heading-3-font-style: normal;
  --sky-type-heading-3-line-height: var(--sky-bb-line-height-300);
  --sky-type-heading-3-font-size: var(--sky-bb-font-size-300);
  --sky-type-heading-3-font-weight: 400;
  --sky-type-heading-3-font-family: var(--sky-bb-font-family-sans);
  --sky-type-heading-2-line-height: var(--sky-bb-line-height-400);
  --sky-type-heading-2-font-size: var(--sky-font-size-heading-2);
  --sky-type-heading-2-font-weight: var(--sky-font-heading-style-2);
  --sky-type-heading-2-font-family: var(--sky-text-font-family);
  --sky-type-heading-1-font-size: var(--sky-font-size-heading-1);
  --sky-type-heading-1-font-weight: var(--sky-font-heading-style-1);
  --sky-type-heading-1-font-family: var(--sky-text-font-family);
  --sky-type-heading-1-line-height: var(--sky-bb-line-height-500);
  --sky-size-illustration-xl: var(--sky-bb-size-fluid-600);
  --sky-size-illustration-l: var(--sky-bb-size-fluid-500);
  --sky-size-illustration-m: var(--sky-bb-size-fluid-400);
  --sky-size-illustration-s: var(--sky-bb-size-fluid-300);
  --sky-size-icon-xl: var(--sky-bb-size-fluid-150);
  --sky-size-icon-l: var(--sky-bb-size-fluid-125);
  --sky-size-icon-m: var(--sky-bb-size-fluid-100);
  --sky-size-icon-s: var(--sky-bb-size-fluid-75);
  --sky-space-label-gap-xl: var(--sky-bb-size-fluid-100);
  --sky-space-label-gap-l: var(--sky-bb-size-fluid-75);
  --sky-space-label-gap-m: var(--sky-bb-size-fluid-50);
  --sky-space-label-gap-s: var(--sky-bb-size-fluid-25);
  --sky-space-label-gap-xs: var(--sky-bb-size-fluid-12);
  --sky-space-label-gap-0: 0rem;
  --sky-space-form-gap-xl: var(--sky-bb-size-fluid-100);
  --sky-space-form-gap-l: var(--sky-bb-size-fluid-75);
  --sky-space-form-gap-m: var(--sky-bb-size-fluid-50);
  --sky-space-form-gap-s: var(--sky-bb-size-fluid-25);
  --sky-space-form-gap-0: 0rem;
  --sky-space-action-group-gap-xl: var(--sky-bb-size-fluid-100);
  --sky-space-action-group-gap-l: var(--sky-bb-size-fluid-75);
  --sky-space-action-group-gap-m: var(--sky-bb-size-fluid-50);
  --sky-space-action-group-gap-s: var(--sky-bb-size-fluid-25);
  --sky-space-action-group-gap-0: 0rem;
  --sky-space-text-action-gap-xl: var(--sky-bb-size-fluid-100);
  --sky-space-text-action-gap-l: var(--sky-bb-size-fluid-75);
  --sky-space-text-action-gap-m: var(--sky-bb-size-fluid-50);
  --sky-space-text-action-gap-s: var(--sky-bb-size-fluid-25);
  --sky-space-text-action-gap-0: 0rem;
  --sky-space-icon-gap-xl: var(--sky-bb-size-fluid-100);
  --sky-space-icon-gap-l: var(--sky-bb-size-fluid-75);
  --sky-space-icon-gap-m: var(--sky-bb-size-fluid-50);
  --sky-space-icon-gap-s: var(--sky-bb-size-fluid-25);
  --sky-space-icon-gap-0: 0rem;
  --sky-space-stacked-supplemental-m: var(--sky-bb-size-fluid-50);
  --sky-space-stacked-supplemental-s: var(--sky-bb-size-fluid-25);
  --sky-space-stacked-supplemental-0: 0rem;
  --sky-space-inset-floated-left-m: var(--sky-bb-size-fluid-150);
  --sky-space-inset-floated-left-s: var(--sky-bb-size-fluid-100);
  --sky-space-inset-floated-bottom-m: var(--sky-bb-size-fluid-150);
  --sky-space-inset-floated-bottom-s: var(--sky-bb-size-fluid-100);
  --sky-space-inset-floated-right-m: var(--sky-bb-size-fluid-150);
  --sky-space-inset-floated-right-s: var(--sky-bb-size-fluid-100);
  --sky-space-inset-floated-top-m: var(--sky-bb-size-fluid-50);
  --sky-space-inset-floated-top-s: var(--sky-bb-size-fluid-25);
  --sky-space-inset-floated-top-0: 0rem;
  --sky-space-inset-bottomless-left-xl: var(--sky-bb-size-fluid-150);
  --sky-space-inset-bottomless-left-l: var(--sky-bb-size-fluid-100);
  --sky-space-inset-bottomless-bottom-xl: var(--sky-bb-space-0);
  --sky-space-inset-bottomless-bottom-l: var(--sky-bb-space-0);
  --sky-space-inset-bottomless-right-xl: var(--sky-bb-size-fluid-150);
  --sky-space-inset-bottomless-right-l: var(--sky-bb-size-fluid-100);
  --sky-space-inset-bottomless-top-xl: var(--sky-bb-size-fluid-150);
  --sky-space-inset-bottomless-top-l: var(--sky-bb-size-fluid-100);
  --sky-space-inset-letterbox-left-l: var(--sky-bb-size-fluid-100);
  --sky-space-inset-letterbox-left-m: var(--sky-bb-size-fluid-50);
  --sky-space-inset-letterbox-left-s: var(--sky-bb-size-fluid-25);
  --sky-space-inset-letterbox-bottom-l: var(--sky-bb-size-fluid-150);
  --sky-space-inset-letterbox-bottom-m: var(--sky-bb-size-fluid-100);
  --sky-space-inset-letterbox-bottom-s: var(--sky-bb-size-fluid-50);
  --sky-space-inset-letterbox-right-l: var(--sky-bb-size-fluid-100);
  --sky-space-inset-letterbox-right-m: var(--sky-bb-size-fluid-50);
  --sky-space-inset-letterbox-right-s: var(--sky-bb-size-fluid-25);
  --sky-space-inset-letterbox-top-l: var(--sky-bb-size-fluid-150);
  --sky-space-inset-letterbox-top-m: var(--sky-bb-size-fluid-100);
  --sky-space-inset-letterbox-top-s: var(--sky-bb-size-fluid-50);
  --sky-space-inset-pillarbox-left-l: var(--sky-bb-size-fluid-150);
  --sky-space-inset-pillarbox-left-m: var(--sky-bb-size-fluid-100);
  --sky-space-inset-pillarbox-left-s: var(--sky-bb-size-fluid-50);
  --sky-space-inset-pillarbox-bottom-l: var(--sky-bb-size-fluid-100);
  --sky-space-inset-pillarbox-bottom-m: var(--sky-bb-size-fluid-50);
  --sky-space-inset-pillarbox-bottom-s: var(--sky-bb-size-fluid-25);
  --sky-space-inset-pillarbox-right-l: var(--sky-bb-size-fluid-150);
  --sky-space-inset-pillarbox-right-m: var(--sky-bb-size-fluid-100);
  --sky-space-inset-pillarbox-right-s: var(--sky-bb-size-fluid-50);
  /**
   * 
   * 
   */
  --sky-space-inset-pillarbox-top-l: var(--sky-bb-size-fluid-100);
  --sky-space-inset-pillarbox-top-m: var(--sky-bb-size-fluid-50);
  --sky-space-inset-pillarbox-top-s: var(--sky-bb-size-fluid-25);
  --sky-space-inset-balanced-xl: var(--sky-bb-size-fluid-150);
  --sky-space-inset-balanced-l: var(--sky-bb-size-fluid-100);
  --sky-space-inset-balanced-m: var(--sky-bb-size-fluid-50);
  --sky-space-inset-balanced-s: var(--sky-bb-size-fluid-25);
}
