.sky-theme-modern.sky-theme-mode-spacious {
  --sky-size-icon-xl: var(--sky-bb-size-fluid-200);
  --sky-type-body-m-line-height: var(--sky-bb-line-height-100);
  --sky-type-body-m-font-weight: var(--sky-bb-font-style-regular);
  --sky-type-body-m-font-family: var(--sky-bb-font-family-sans);
  --sky-type-body-m-font-size: var(--sky-bb-font-size-100);
  --sky-space-inset-balanced-xl: var(--sky-bb-size-fluid-200);
  --sky-space-inset-balanced-l: var(--sky-bb-size-fluid-125);
  --sky-space-inset-balanced-m: var(--sky-bb-size-fluid-75);
  --sky-space-inset-balanced-s: var(--sky-bb-size-fluid-50);
}
