/* Link underline */

.stache-wrapper {
	background-color: #141A1F !important;
}

.stache-wrapper .sky-action-button {
	background-color: #1C2228 !important;
}

/* Omnibar */
.omnibar-vertical-menu-item:hover .omnibar-vertical-menu-item-text,
.omnibar-vertical-menu-item:focus .omnibar-vertical-menu-item-text,
.omnibar-vertical-menu-item:active .omnibar-vertical-menu-item-text {
	color: var(--sky-theme-color-text-default);
}

/* Modal */

.sky-modal {
	border-color: #353d49 !important;
}

/* Forms */

.sky-form-group {
	background-color: #2a313c !important;
}